{
  "env": {
    "browser": true,
    "es2021": true
  },
  "plugins": [
    "@typescript-eslint",
    "react"
  ],
  "parser": "@typescript-eslint/parser",
  "parserOptions": {
    "ecmaFeatures": {
      "jsx": true
    },
    "ecmaVersion": 12,
    "sourceType": "module"
  },
  "extends": [
    "eslint:recommended",
    "plugin:@typescript-eslint/recommended",
    "plugin:react/recommended",
    "prettier",
    "prettier/@typescript-eslint",
    "prettier/react"
  ],
  "rules": {
    // This is needed because of the new JSX Transformer.
    // See: https://reactjs.org/blog/2020/09/22/introducing-the-new-jsx-transform.html
    // See: 
    "react/react-in-jsx-scope": 0
  }
}
