# See https://help.github.com/articles/ignoring-files/ for more about ignoring files.

# visual studio code
.vscode/*
!.vscode/settings.json
!.vscode/tasks.json
!.vscode/launch.json
!.vscode/extensions.json
*.code-workspace

# dependencies
.yarn/*
!.yarn/patches
!.yarn/releases
!.yarn/plugins
!.yarn/sdks
!.yarn/versions
.pnp.*

# debug
yarn-debug.log*
yarn-error.log*

# local env files
.env.local
.env.*.local

# next.js
/.next
/out

# vercel
.vercel
