# See https://help.github.com/articles/ignoring-files/ for more about ignoring files.

### Node ###
# Logs
npm-debug.log*

# Diagnostic reports (https://nodejs.org/api/report.html)
report.[0-9]*.[0-9]*.[0-9]*.[0-9]*.json

# Dependency directories
node_modules/

# Optional eslint cache
.eslintcache

# dotenv environment variables file
.env
.env.test
.env*.local

# Next.js build output
.next/

# misc
.DS_Store
*.pem

# vercel
.vercel

### Visual Studio Code ###
.vscode/*
!.vscode/tasks.json
!.vscode/launch.json
*.code-workspace
